.button {
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
}

.buttonDeleteCancel {
  background-color: #f55348;
}

.buttonDeleteCancel:hover {
  background-color: #ee190a;
}

.buttonEdit {
  background-color: #fff;
  color: #2C882D;
  border: 1px solid #2C882D;
}

.buttonEdit:hover {
  background-color: #2C882D;
  color: #fff;
}

.buttonCreateAdd {
  background-color: #2E355B;
}

.buttonCreateAdd:hover {
  background-color: #23294c;
}

.buttonSubmit {
  background-color: #2E355B;
  color: #fff;
}

.buttonSubmit:hover {
  background-color: #23294ce3;
  color: #fff;
}