.button {
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  box-shadow: 4px 5px 4px rgb(0,0,0,0.5);
  transition: 0.3s ease-out;
}

.buttonDeleteCancel {
  background-color: #f55348;
}

.buttonDeleteCancel:hover {
  background-color: #ee190a;
}

.buttonCreateAdd {
  background-color: #2E355B;
}

.buttonCreateAdd:hover {
  background-color: #23294c;
}

.buttonSubmit {
  background-color: #2E355B;
  color: #fff;
}

.buttonSubmit:hover {
  background-color: #23294c;
  color: #fff;
}