.container {
  display: flex;
  justify-content: space-between;
  min-height: 84.5vh;
  background-image: linear-gradient(90deg,
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.2)),
    url('../../public/assets/images/background-gim.png');
  background-position: 75% 52%;
  background-size: cover;
}