.aside {
  display: flex;
  position: fixed;
  top: 70px;
  width: 100%;
  background-color: #cbebf3e3;
}

.asideMember {
  display: none;
}

.navbar {
  width: 95%;
}

.rutes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  transform-origin: left;
  transition: transform 0.5s ease;
}

.rutes li a {
  text-decoration: none;
  color: #2e355b;
}

.rutes li a:hover {
  border-bottom: 1px solid #2e355b;
}

.brand {
  display: none;
}

@media only screen and (min-width: 1025px) {

  .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }

  .aside {
    top: 14%;
    height: 88vh;
    width: 200px;
    z-index: 0;
  }

  .asideMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 14%;
    height: 88vh;
    width: 20vh;
    min-width: 200px;
    z-index: 0;
    background-color: #cbebf3e3;
  }

  .asideSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100%;
  }

  .title {
    text-align: center;
    margin-left: 30px;
  }

  .navbarMember {
    justify-content: center;
    margin-top: 10px;
  }

  .rutes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
  }

  .logoutSuperAdmins {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 90%;
    padding: 0;
    list-style-type: none;
    padding-top: 10px;
  }

  .logoutAdmins {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    padding: 0;
    padding-top: 10px;
    list-style-type: none;
    align-items: center;
  }

  .linkBtn {
    text-decoration: none;
  }

  .rutesMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
  }

  .btn {
    background-color: #2E355B;
    margin: 5px 0;
    padding: 7px;
    border-radius: 7px;
    width: 120px;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }

  .btnHome {
    text-decoration: none;
  }

  .containerBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .containerBtns>a {
    text-decoration: none;
  }

  .homeBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .subContainerBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }

  .subContainerBtns2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }

  .btnProfile {
    margin-bottom: 20%;

  }

  .btn2 {
    background-color: #fff;
    color: #2E355B;
    border: 2px solid #2E355B;
    font-weight: 600;
  }



  .btn:hover {
    background-color: #1e2341;
    cursor: pointer;
  }

  .acording {
    color: #49a37b;
  }

  .btn2:hover {
    background-color: #eee;
  }

  .rutes li {
    position: relative;
    width: 150px;
    box-sizing: border-box;
  }

  .rutes>li>a {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    color: #2e355b;
  }

  .rutes li a:hover {
    border: none;
  }

  .titleContact {
    text-align: center;
    margin: 0;
  }

  .contact {
    margin: auto;
  }

  .contact ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    padding: 0;
  }

  .activeRouteMember {
    background-color: #1e2341;
  }

  .minorDiv p {
    margin: 10px;
  }
}