.aside {
  display: flex;
  position: fixed;
  top: 70px;
  width: 100%;
  background-color: #cbebf377;
}

.asideMember {
  display: none;
}

.navbar {
  width: 95%;
}

.rutes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  transform-origin: left;
  transition: transform 0.5s ease;
  padding: 0;
}

.rutes li a {
  text-decoration: none;
  color: #2e355b;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.rutes li a:hover {
  background-color: #1e2341;
  color: white;
}

.brand {
  display: none;
}

@media only screen and (min-width: 1025px) {
  .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }

  .aside {
    top: 10%;
    height: 90vh;
    width: 200px;
    z-index: 0;
  }

  .asideMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 10%;
    height: 90vh;
    width: 20vh;
    min-width: 200px;
    z-index: 0;
    background-color: #cbebf377;
  }

  .asideSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100%;
  }

  .title {
    text-align: center;
    margin-left: 30px;
  }

  .navbarMember {
    justify-content: center;
    margin-top: 10px;
  }

  .rutes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
  }

  .logoutSuperAdmins {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 90%;
    padding: 0;
    list-style-type: none;
    padding-top: 10px;
  }

  .logoutAdmins {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    padding: 0;
    padding-top: 10px;
    list-style-type: none;
    align-items: center;
  }

  .linkBtn {
    text-decoration: none;
  }

  .rutesMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    padding: 0;
    list-style-type: none;
  }

  .btn {
    background-color: #2e355b;
    margin: 5px 0;
    padding: 7px;
    border-radius: 7px;
    width: 120px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s linear;
  }

  .btnHome {
    text-decoration: none;
  }

  .containerBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .containerBtns > a {
    text-decoration: none;
  }

  .homeBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .subContainerBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }

  .subContainerBtns2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }

  .btnProfile {
    margin-bottom: 20%;
  }

  .btn2 {
    background-color: #fff;
    font-weight: 600;
    color: #2e355b;
  }

  .btn:hover,
  .btn2:hover {
    background-color: #1e2341;
    font-weight: 400;
    cursor: pointer;
    color: white;
  }

  .acording {
    color: #49a37b;
  }

  .rutes li {
    position: relative;
    width: 150px;
    box-sizing: border-box;
  }

  .rutes > li > a {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    color: #2e355b;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .rutes li a:hover {
    background-color: #1e2341;
    color: white;
  }

  .activeRouteMember {
    background-color: #1e2341;
    border: 2px solid #1e2341;
  }

}
