.aside {
  display: flex;
  position: fixed;
  top: 70px;
  width: 100%;
  background-color: #cbebf3e3;
}

.asideMember {
  display: none;
}

.navbar {
  width: 95%;
}

.rutes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  transform-origin: left;
  transition: transform 0.5s ease;
}


.rutes li a {
  text-decoration: none;
  color: #2E355B;
}

.rutes li a:hover {
  border-bottom: 1px solid #2E355B;
}

.brand {
  display: none;
}

@media only screen and (min-width: 1025px) {

  .aside {
    top: 120px;
    height: 88vh;
    width: 20vh;
    z-index: 0;
  }

  .asideMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 120px;
    height: 88vh;
    width: 20vh;
    z-index: 0;
    background-color: #cbebf3e3;
  }

  .asideSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    margin-left: -50px;
  }

  .navbar {
    display: flex;
    justify-content: center;
    height: 70vh;
    margin-top: 10px;
  }

  .title {
    text-align: center;
    margin-left: 30px;
  }

  .navbarMember {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 27vh;
  }

  .rutes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    transform-origin: left;
    transition: transform 0.5s ease;
  }

  .rutesMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .rutesMember a {
    text-decoration: none;
    background-color: #2E355B;
    color: #fff;
    padding: 7px;
    border-radius: 7px;
    width: 120px;
    text-align: center;
  }

  .rutesMember a:hover {
    background-color: #1e2341;
  }

  .rutes li {
    position: relative;
    width: 150px;
    box-sizing: border-box;
  }

  .rutes li:hover::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #2E355B;
  }

  .rutes li:hover::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #2E355B;
  }

  .rutes>li>a {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    color: #2E355B;
  }

  .rutes li a:hover {
    border: none;
  }

  .titleContact {
    text-align: center;
  }

  .contact {
    margin-top: 35px;
  }

  .contact ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
}