.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 50px;
  background-color: #EA3354;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 0px;
}

.form-label h2 {
  margin-bottom: 10px;
}

.form-input {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px #1b1b5d99;
}

.form-input:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 3px #4a90e280;
}

.errorMsg {
  color: #EA3354;
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 20px;
  height: 5px;
}

.error {
  border: 2px solid #EA3354;
}