.mainContainer {
  margin-left: 20vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #cbebf3cc;
  padding-right: 5px;
  border-radius: 8px;
  margin-top: 100px;
}

.screenContainer {
  max-height: 600px;
  overflow-y: auto;
}

.screenContainer::-webkit-scrollbar {
  width: 10px;
  background-color: none;
}

.screenContainer::-webkit-scrollbar-thumb {
  background-color: #2E355B;
  border-radius: 5px;
}

.screenContainer::-webkit-scrollbar-thumb:hover {
  background-color: #465089;
}

.screenContainer::-webkit-scrollbar-track {
  background-color: none;
}

.classCard {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 3px;
  width: 150px;
  height: 80px;
  font-weight: 600;
  color: #fff;
  background-color: #2E355B;
  border-radius: 8px;
  border: 1px solid;
}

.classCard:hover {
  transition: 0.4s;
  color: #2E355B;
  background-color: #fff;
  border-color: #2E355B;
  cursor: pointer;
}

.fullClassCard {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 3px;
  width: 150px;
  height: 80px;
  font-weight: 600;
  color: #000;
  background-color: #ccc;
  border-radius: 8px;
  border: 1px solid;
}

.subscribedClass {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 3px;
  width: 150px;
  height: 80px;
  font-weight: 600;
  color: #fff;
  background-color: #58e02b;
  border-radius: 8px;
  border: 1px solid;
}

.subscribedClass:hover {
  transition: 0.4s;
  color: #2E355B;
  background-color: #fff;
  border-color: #2E355B;
  cursor: pointer;
}

.inlineBlock {
  display: inline-block;
}

.table {
  padding-right: 50px;
  box-sizing: border-box;
  text-align: center;
  border-collapse: collapse;
}

.th {
  width: 150px;
  height: 88px;
}