.mainContainer {
  margin-left: 20vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.searchBar {
  display: flex;
  align-self: flex-end;
}

.searchBar input {
  border: none;
  border-radius: 8px;
  width: 195px;
  padding: 8px;
  font-size: 16px;
  background-color: #cbebf377;
  box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.5);
  color: #fff;
}

.searchBar input:focus {
  outline: none;
}

.searchBar input::placeholder {
  color: #fff;
}

.container {
  background-color: #cbebf377;
  box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.5);
  padding-right: 5px;
  border-radius: 8px;
  margin-top: 10px;
  color: #fff;
  text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.5);
}

.screenContainer {
  max-height: 600px;
  overflow-y: auto;
}

.screenContainer::-webkit-scrollbar {
  width: 10px;
  background-color: none;
}

.screenContainer::-webkit-scrollbar-thumb {
  background-color: #2E355B;
  border-radius: 5px;
}

.screenContainer::-webkit-scrollbar-thumb:hover {
  background-color: #465089;
}

.screenContainer::-webkit-scrollbar-track {
  background-color: none;
}

.classCard {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 3px;
  width: 150px;
  height: 80px;
  font-weight: 600;
  color: #fff;
  border: none;
  background-color: #2E355B;
  border-radius: 8px;
  box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.5);
  transition: 0.4s ease;
}

.classCard:hover {
  color: #fff;
  background-color: #1e2341;
  cursor: pointer;
}

.fullClassCard {
  background-color: #ccc;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 3px;
  width: 150px;
  height: 80px;
  font-weight: 600;
  color: #2E355B;
  border-radius: 8px;
  box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.5);
  transition: 0.4s ease;
}

.inlineBlock {
  display: inline-block;
}

.table {
  padding-right: 50px;
  box-sizing: border-box;
  text-align: center;
  border-collapse: collapse;
}

.th {
  width: 150px;
  height: 88px;
}

.blueCard {
  background-color: #2E355B;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
  border-radius: 2px;
  width: 16px;
  height: 16px;
}

.redCard {
  background-color: #418142;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
  border-radius: 2px;
  width: 16px;
  height: 16px;
}

.greyCard {
  background-color: #ccc;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
  border-radius: 2px;
  width: 16px;
  height: 16px;
}

.info {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 14px;
  margin-bottom: 3px;
  text-shadow: none;
}

.background {
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
  border-radius: 6px;
}

.info p {
  margin: 0 auto;
}

.subscribedClass {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 3px;
  width: 150px;
  height: 80px;
  font-weight: 600;
  color: #fff;
  background-color: #418142;
  border-radius: 8px;
  border: none;
  box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.5);
  transition: 0.4s ease;
}

.subscribedClass:hover {
  color: #fff;
  background-color: #1e2341;
  cursor: pointer;
}