.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 450px;
  overflow-y: auto;
}

.tableContainer {
  overflow-y: auto;
  margin-top: 10px;
}

.contTable {
  border-collapse: collapse;
  color: #2E355B;
}

.theadTable {
  background-color: #2E355B;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.thTable {
  padding: 10px 16px;
  white-space: pre-wrap;
}

.theadTable,
.thTable {
  padding: 10px 16px;
  text-align: center;
}

.tbody {
  background-color: #ffffffed;
}

.rows {
  border-bottom: 2px solid #ddd;
}

.rows:hover {
  background-color: #eee;
}

.headers {
  padding: 15px 16px;
}

.deleteButton {
  margin-left: 20px;
}

.info {
  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
  font-weight: 600;
  color: #373867;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.borderLeft {
  border-radius: 8px 0px 0px 0px;
}

.borderRight {
  border-radius: 0px 8px 0px 0px;
}