.select {
  display: block;
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.select:hover {
  box-shadow: 5px 3px 3px #00000015;
}

.errorMsg {
  color: #EA3354;
  font-size: 14px;
  margin-top: 0px;
}