.select {
  display: block;
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-shadow: 0 2px 4px #1b1b5d99;
}

.select:hover {
  box-shadow: 5px 3px 3px #0000007e;
}

.select:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 3px #4a90e280;
}

.errorMsg {
  color: #EA3354;
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 20px;
  height: 5px;
}

.error {
  border: 2px solid #EA3354;
}