.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 10vh auto;
  border-radius: 8px;
  color: #373867;
  background-color: #fff;
  font-weight: 600;
  width: 35%;
  padding: 20px 0px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.sendContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px;
}