.mainContainer {
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  border-radius: 8px;
  color: #373867;
  background-color: #ddddddde;
  font-weight: 600;
  padding: 20px;
  width: 100%;
  min-width: 400px;
}

.formContainer {
  width: 90%;
  padding: 20px;
}

.sendContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
}