.mainContainer {
  margin-left: 20vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #cbebf3cc;
  padding-right: 5px;
  border-radius: 8px;
  margin-top: 100px;
}

.screenContainer {
  max-height: 600px;
  overflow-y: auto;
}

.screenContainer::-webkit-scrollbar {
  width: 10px;
  background-color: none;
}

.screenContainer::-webkit-scrollbar-thumb {
  background-color: #2E355B;
  border-radius: 5px;
}

.screenContainer::-webkit-scrollbar-thumb:hover {
  background-color: #465089;
}

.screenContainer::-webkit-scrollbar-track {
  background-color: none;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.classCard {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 115px;
  height: 80px;
  font-weight: 600;
  color: #fff;
  background-color: #2E355B;
  font-size: 14px;
  text-decoration: none;
  border-radius: 8px 0 0 8px;
}

.deleteButton {
  width: 35px;
  height: 80px;
  background-color: #9849e7;
  color: white;
  border-radius: 0 8px 8px 0;
  border: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.deleteButton:hover {
  font-weight: 600;
  background-color: white;
  font-size: 20px;
  color: #9849e7;
  cursor: pointer;
  border: 1px solid #9849e7;
  transition: 0.4s ease-in;
}

.classCard:hover {
  transition: 0.4s ease-in;
  color: #2E355B;
  background-color: #fff;
  border-color: #2E355B;
  cursor: pointer;
}

.inlineBlock {
  display: inline-block;
}

.table {
  padding-right: 50px;
  box-sizing: border-box;
  text-align: center;
  border-collapse: collapse;
}

.th {
  width: 150px;
  height: 88px;
}

.info {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 14px;
  margin-bottom: 3px;
}

.info p {
  margin: 0 auto;
}