.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 93px;
  margin-left: 20vh;
  width: 100%;
}

.secondMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #cbebf377;
  padding-right: 5px;
  border-radius: 8px;
  color: #fff;
}

.screenContainer {
  max-height: 600px;
  overflow-y: auto;
}

.screenContainer::-webkit-scrollbar {
  width: 10px;
  background-color: none;
}

.screenContainer::-webkit-scrollbar-thumb {
  background-color: #2E355B;
  border-radius: 5px;
}

.screenContainer::-webkit-scrollbar-thumb:hover {
  background-color: #465089;
}

.screenContainer::-webkit-scrollbar-track {
  background-color: none;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.classCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 150px;
  height: 80px;
  font-weight: 600;
  color: #fff;
  background-color: #2E355B;
  font-size: 14px;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.5);
  z-index: 4;
}

.edit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #ffffff00;
  color: #ffffff00;
  z-index: 0;
  cursor: pointer;
  border-radius: 8px;
  box-sizing: border-box;
  border: none;
}

.edit:hover {
  border: 2px solid #2E355B;
  background-color: #1e2341;
  color: #2E355B;
  z-index: 6;
}

.delete {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #ffffff00;
  color: #ffffff00;
  border: none;
  z-index: 0;
  cursor: pointer;
  border-radius: 8px;
  box-sizing: border-box;
  padding-top: 10px;
}

.delete:hover {
  border: 2px solid #2E355B;
  background-color: #f55348;
  color: #fff;
  z-index: 6;
}

.classCard:hover {
  color: #2E355B;
  background-color: #2E355B;
  border: none;
}

.inlineBlock {
  display: inline-block;
}

.table {
  padding-right: 50px;
  box-sizing: border-box;
  text-align: center;
  border-collapse: collapse;
}

.th {
  width: 150px;
  height: 88px;
  text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.5);
}

.info {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 14px;
  margin-bottom: 3px;
}

.info p {
  margin: 0 auto;
}

.editIcon {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  color: #fff;
  opacity: 0;
}

.classCard:hover .editIcon {
  opacity: 1;
}

.editIconX {
  width: 33px;
  height: 33px;
  margin-bottom: 8px;
}

.searchBar {
  align-self: flex-end;
  margin-bottom: 20px;
}

.searchBar input {
  border: none;
  border-radius: 8px;
  width: 195px;
  padding: 8px;
  font-size: 16px;
  background-color: #cbebf377;
  box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.5);
  color: #fff;
}

.searchBar input:focus {
  outline: none;
}

.searchBar input::placeholder {
  color: #fff;
}