.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.form {
  color: #373867;
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  width: 350px;
  margin: 10vh auto;
  font-weight: 600;
  box-shadow: 0 2px 4px #1b1b5d99;
  margin-top: 250px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}