.mainContainer {
  margin: 0 auto;
}

.form {
  color: #2E355B;
  background-color: #ddddddde;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 4px #1b1b5d99;
  font-weight: 600;
  margin-top: 250px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}