.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 70px;
  background-color: #2E355B;
  color: #fff;
  position: fixed;
  width: 92%;
  z-index: 50;
}

.brand {
  display: none;
}

.profile {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

@media only screen and (min-width: 1025px) {

  .container {
    height: 10%;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
  }

  .brand {
    display: flex;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .profileContainer {
    display: flex;
    align-items: center;
  }
}