.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  height: 70px;
  background-color: #2E355B;
  color: #fff;
  position: fixed;
  width: 92%;
  z-index: 50;
}

.brand {
  display: none;
}

@media only screen and (min-width: 1025px) {

  .container {
    height: 14%;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
  }

  .brand {
    display: flex;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .profileContainer {
    display: flex;
    align-items: center;

  }

  .profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}