.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 120px;
  background-color: #373867;
  color: #fff;
}

.brand {
  font-weight: bold;
  font-size: 1.75rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #AACE9B;
}

.rutes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.rutes li :hover{
  color: #fff;
}

.rutes > li > a {
  margin-left: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: #373867;
}



