.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373867;
  color: #fff;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  width: 90%;
  height: 150px;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
}

.rutes {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-left: 130px;
}

.rutes > li :hover {
  background-color: #6daf50;
  cursor: pointer;
}

.rutes > li > a {
  margin-left: 15px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: #FFF;
}

.licenseContainer {
  display: flex;
  flex-direction: column;
}

.licenseContainer img {
  background-color: #fff;
  border-radius: 50px;
}
