.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e355b;
  color: #fff;
  z-index: 99;
  bottom: 0;
  height: 90px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 60px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.rutes {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-left: 130px;
}

.rutes>li :hover {
  transition: 0.5s;
  background-color: #aedfeb;
  cursor: pointer;
}

.rutes>li>a {
  display: inline-block;
  margin-left: 15px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 50px;
  color: #fff;
  box-shadow: 5px 5px 4px rgb(0,0,0, 0.5);
}

.licenseContainer {
  display: flex;
  flex-direction: column;
}

.licenseContainer img {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 50px;
}

.logo {
  height: 70px;
}

.license {
  height: 100%;
}

.license p {
  display: inline-block;
  margin: 0;
  text-shadow: 5px 5px 4px rgb(0,0,0, 0.5);
}