.container {
  background-color: none;
  width: 100%;
  margin-bottom: 20px;
}

.datePicker {
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px #1b1b5d99;
}

.datePicker:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 3px #4a90e280;
}

.errorMsg {
  color: #EA3354;
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 20px;
  height: 5px;
}

.error {
  border: 2px solid #EA3354;
}