.sectionForm {
  margin: 40px 0;
}

.form {
  color: #373867;
  background-color: #eee;
  padding: 25px;
  border-radius: 8px;
  width: 600px;
  margin: 10vh auto;
}

.subContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
}


.btnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}