.sectionForm {
  margin-top: 100px;
}

.form {
  color: #373867;
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  width: 600px;
  margin: 10vh auto;
  font-weight: 600;
  box-shadow: 0 2px 4px #1b1b5d99;
}

.subContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
}


.btnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}