@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.mainContainer h2 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #49A37B;
    text-underline-offset: 10px;
}

.supremeContainer {
  width: 100%;
  overflow-x: hidden;
}

.mainContainer p {
    font-size: 20px;
}

.mainContainer {
  background-image: linear-gradient(90deg,
  rgba(0, 0, 0, 0.9),
  rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.9)),url('../../../public/assets/images/negro.jpg');
  background-size: contain;
  background-position: center;
  color: white;
  min-height: 87vh;
  width: 100%;
  margin-top: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10vh;
}

.home {
  text-align: center;
  font-size: 40px;
  font-family: Impact;
}