@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.supremeContainer {
  width: 100%;
  overflow-x: hidden;
}

.mainContainer p {
  font-size: 20px;
}

.mainContainer {
  background-image: linear-gradient(90deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.6)), url('../../../public/assets/images/landing2.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  height: 120vh;
  width: 100%;
  padding-right: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10vh;
}

.card {
  text-align: center;
  padding: 80px;
  max-width: 700px;
  min-width: 500px;
  font-size: 40px;
}

.card h1 {
  font-size: 90px;
  letter-spacing: 14px;
  text-shadow: 5px 7px 4px rgba(0, 0, 0, 0.5);
}

.card h2 {
  font-size: 40px;
}

.card p {
  padding: 10px;
  font-size: 22px;
}