.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20vh;
  margin-top: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
  background-color: #cbebf377;
  padding: 0px 10px 20px 10px;
}

.header {
  margin-top: 2%;
  width: 90%;
  margin-left: 5%;
}

.h1 {
  font-size: 2rem;
  margin-bottom: 3%;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.line {
  width: 100%;
  height: 3px;
  background-color: #000000;
  margin-bottom: 4%;
}

.section {
  font-size: 1.2rem;
  margin-bottom: 4%;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.cardsCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardContainer {
  width: 300px;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 10px;
  margin: 20px;
  transition: 0.5s;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.cardContainer:hover {
  transform: scale(1.03);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
}

.only {
  background-color: #f3f3f3;
  color: #333333;
}

.classic {
  background-color: #1c2331;
}

.black {
  background-color: #252525;
}

.cardContainer hr {
  width: 90%;
  border: none;
  border-top: 1px solid #ffffff;
  margin: 10px auto;
}

.only hr {
  border-top: 1px solid #000;
}